.pad-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.pad-container .pad-col.pad-btn {
    background-color: var(--fg-color);
}

.pad-container .pad-col.pad-btn.btn-success {
    background-color: var(--success);
}

.pad-container .pad-col.pad-btn.btn-success:hover {
    background-color: rgba(3, 121, 49, 0.6);
}

.pad-container .pad-btn:hover {
    background-color: rgba(37, 75, 111, 0.03);
}

.pad-container .pad-col {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.pad-container .pad-col:not(.pad-label){
    /*border: 1px solid rgba(119, 136, 153, 0.39);*/
}

.pad-container .pad-col.disabled {
    pointer-events: none;
    color: #a9a9a9 !important;
}

.pad-container .pad-row {
    height: 25%;
}

.pad-container .pad-col.sm {
    width: 15%;
}

.pad-container .pad-col.md {
    width: 20%;
}

.pad-container .pad-col.lg {
    text-align: left;
    width: 35%;
}

.pad-container .pad-col.text-lg {
    font-size: 25px;
}

.pad-container .pad-col span {
    font-size: 20px;
}

.pad-container .pad-label {
    background-color: transparent;
    text-align: right !important;
    padding: 0 10px 0 0;
    cursor: default;
}

.pad-container .pad-label.label-lg {
    font-size: 25px !important;
}